*{
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	border-radius: 0px;
	line-height: 1.5em;
	color:#333333;
	box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
	background-color: #E8E8E8;

}
b{
	color:brown;
	/*color:#009A31;*/
}
.page{
	max-width: 600px;
	width: 100% ;
	margin: 0 auto;
	background-color: #BFBFBF;
	border-radius: 0px;
}
.cover{
	max-width: 600px;
	width: 100% ;
	margin: 0 auto;
	padding:1.7em 2em 1em 2em;
	text-align: center;
	min-height: 6em ;
	background-color: black;
	border-radius: 0px;
	background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11251767_1688389378057883_9080996522785301854_n.jpg?oh=bf2d0c524e39291906d2b34d124ac07e&oe=5852FD46') center/ 100% auto;
}
.coversmall{
	padding-top: 0.6em;
	margin: 0 auto;
	color: white;
	font-family: "Times New Roman", Times, serif;
}
.covertext{
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	text-align: center;
	line-height: 1.3em;
	letter-spacing: 0.2em;

}
/*letter*/
.letter-wrap{
	width: 100%;
	padding:0.5em 1em 0.5em 1em;
	/*border:2px dashed red;*/
}
.letter{
	width: 100%;
	background-color: white;
	/*border:2px dashed red;*/
}
.ldash{
	/*border:2px dashed green;*/
}
.title{
	padding:1.5em 2em 0em 2em;
	font-size: 1.2em;
}
.article{
	line-height: 2em;
	text-align: center;
	padding:1em 3em 1em 3em;
}
.end{
	padding:0.5em 2em 1em 2em;
	text-align: right;
}


/*tail*/

.tail{
	/*height: 2em;*/
}
.tail2{
	height: 2em;
}
.botton-wrap{
	text-align: center;
}
.botton{
	width: 30%;
	min-width: 8em;
	display: inline-block;
	padding: 1em 1em 1em 1em;
	text-align: center;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	background-color: brown;
}