*{
	box-sizing: border-box;
}
html{
	padding: 0;
}
body{
	background-color: rgb(243, 243, 243);
	padding: 0;
	height: 100%;
}
.item{
	max-width: 600px;
	width: 95%;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0.2s all;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
	padding-left: 30px;
	padding-right: 30px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 1.5em;
	cursor: pointer;
}
.file{
	background-color: rgba(218, 255, 213, 0.5);
}
.file:hover{
	background-color: rgb(218, 255, 213);
}
.dir{
	background-color: rgba(244, 247, 174, 0.5);
}
.dir:hover{
	background-color: rgb(244, 247, 174);
}
.dir_back{
	background-color: rgba(231, 231, 231, 0.5);
}
.dir_back:hover{
	background-color: rgb(231, 231, 231);
}
.playing{
	background-color: rgb(255, 177, 74);
}
.playing:hover{
	background-color: rgb(255, 183, 74);
}
#container{
	height: 95vh;
	width: 100%;
	overflow: auto;
	margin: 0 auto;
	text-align: center;
}
#footer{
	background-color: rgb(245, 241, 241);
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.08);
	display: table-cell;
	vertical-align: middle;
}
.ctrl{
	display: inline-block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn{
	border-radius: 100%;
	border: 2px solid rgb(0, 0, 0);
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 0 5px 0 5px;
	box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.08);
	transition: 0.2s all;
	cursor: pointer;
}
#btn_forword{
	background: url(./img/forword.png);
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}
#btn_backword{
	background: url(./img/backword.png);
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}
.btn_pause{
	background: url(./img/pause.png);
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}
.btn_play{
	background: url(./img/play2.png);
	background-size: 70% 70%;
	background-position: 70% center;
	background-repeat: no-repeat;

}
#btn_play{
}
.btn_small{
	border-radius: 10px;
	border: 2px solid rgb(0, 0, 0);
	width: 30px;
	height: 20px;
	display: inline-block;
	margin: 0 auto;
	box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.08);
	transition: 0.2s all;
	cursor: pointer;
}
#btn_repeat{
}
#repeat_count{
	display: inline-block;
	position: relative;
	left: 13px;
	bottom: 5px;
	height: 15px;
	width: 15px;
	background-color: rgb(59, 224, 150);
	color: white;
	font-size: 15px;
	border-radius: 100%;
	text-align: center;
}
input[type="range"]{
	-webkit-appearance: none !important;
	height: 10px;
	width: 200px;
	background-color: #A3CD99;
	border: 1px solid #97c68b;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	transition: all 0.3s ease;
    cursor: pointer;
}
input[type="range"]:hover {
  background-color: #b2d5aa;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 12px;
  height: 12px;
  background-color: #579E81;
  border-radius: 100%;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #457d66;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
  cursor: pointer;
}
#playing_song{
	font-size: 1.2em;
}
